<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/escape/key-escape.css">
    <script defer src="/js/escape/keyEscape.js"></script>
    <meta charset="UTF-8">
    <title>키이스케이프</title>
</head>
<body>
    <div>
        <select id="area">
            <option value="10">홍대</option>
        </select>
        <select id="theme-list">
            <option value="41">삐릿-뽀</option>
            <option value="43">홀리데이</option>
            <option value="45">고백</option>
        </select>
        <input type="date" id="rev_date"><button id="button-date">입력</button>
    </div>
    <div>
        <table id="theme-table">
            <thead id="theme-head"></thead>
            <tbody id="times-body"></tbody>
        </table>
    </div>
</body>
</html>